@font-face {
    font-family: 'Open Sans';
    src: 
        local('Open Sans Regular'), 
        local('OpenSans-Regular'),
        url('../fonts/Open_Sans/open-sans-v15-latin-700.woff2') format(woff2),
        url('../fonts/Open_Sans/open-sans-v15-latin-700.woff') format(woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: 
        local('Open Sans Bold'), 
        local('OpenSans-Bold'),
        url('../fonts/Open_Sans/open-sans-v15-latin-regular.woff2') format(woff2),
        url('../fonts/Open_Sans/open-sans-v15-latin-regular.woff') format(woff);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Serif', sans-serif;
}
