/*@font-face {
    font-family: 'Open Sans';
    src: 
        local('Open Sans Regular'), 
        local('OpenSans-Regular'),
        url('../fonts/Open_Sans/open-sans-v15-latin-700.woff2') format(woff2),
        url('../fonts/Open_Sans/open-sans-v15-latin-700.woff') format(woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: 
        local('Open Sans Bold'), 
        local('OpenSans-Bold'),
        url('../fonts/Open_Sans/open-sans-v15-latin-regular.woff2') format(woff2),
        url('../fonts/Open_Sans/open-sans-v15-latin-regular.woff') format(woff);
    font-weight: normal;
    font-style: normal;
}*/

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    line-height: 1.6;
    color: #3A4145;
}

h2,
time {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -1px;
    text-indent: -2px;
    color: #3f3f3f
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    width: 80%;
    max-width: 700px;

    padding-top: 42px;
    margin: auto;

    padding-top: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.menu {
    padding-left: 0;
    list-style-type: 0;
}

.menu__item {
    display: inline-block;
}

.menu__item:first-child {
    margin-right: 20px;
}

.menu__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #a7b3ba;
    text-decoration: none;
}

.menu__link:hover {
    color: blueviolet;
}

.content {
    width: 80%;
    max-width: 700px;

    padding-top: 42px;
    padding-bottom: 42px;
    margin: auto;
}

.post {
    position: relative;

    padding-bottom: 40px;
    margin-bottom: 40px;

    border-bottom: 1px solid #a7abb3;
}

.post::after {
    position: absolute;
    left: 50%;
    bottom: -23px;

    width: 32px;
    height: 32px;

    background-image: url('../images/bow.svg');
    background-repeat: no-repeat;
    background-color: #fff;

    transform: translateX(-50%);

    content: '';
}

.post__time {
    font-size: 15px;
    color: #9eabb3;
}

.post__title {
    transition: color 03.s ease;
}

.post__title:hover {
    color: #5b77cb;
}

.post__link {
    color: currentColor;
    text-decoration: none;
}